<div>
    <h5>Біздің топтар</h5>
    <div class="group-container">
        <h6 class="group-container__title">«Балапан» кіші тобы </h6>
        <p>«Балапан»  кіші   тобында  1,5  және 2  жастағы  балалар  тәрбеленеді.
            Осы  бүлдіршіндерге  стандартқа сай  жыл  басында бекітілген  жоспарға  сәйкес 
             оқу  қызметі  өтсе,  бекітілген  күн  режиміне  сәйкес  ойын,серуен, таңертеңгілік  
             жаттығу,тамақ,ұйқы  жұмыстары  жүргізіледі.Балалар  күнделікті  жүйелі  түрде жүргізіліп отыратын  жұмысқа  қалыптасады.Бұл балалар  енді тілі шығып келе жатқан  ойын балалары, соған  қарамастан  
            оқу  қызметі  барысында  менің  айтқанымды  тәп-тәтті  бал  тілдерімен  қайталады.</p>
        <p>  Балалар 1,5 жастан бастап балабақшаға қабылданады және осы топқа келеді. 
             Кіші топ тәрбиешілерінің жас балалармен  қарым-қатынас жасаудағы шеберлігі ерекше. 
             Балалардың жан дүниесі, педагогтардың мейірімділігі жұмысын бағалаудың бір ғана критерийі бар-бұл баланың таңертең педагог баланы қабылдап, өзінің жылуын береді. 
            Топта балалардың жан-жақты дамуына, ойындар мен іс-шараларға қажетінің бәрі бар.</p>
    </div>
    <div class="group-container">
        <h6 class="group-container__title">«Еркемай» ортаңғы тобы</h6>
        <p>«Еркемай»  ортаңғы   тобында  3-4  жастағы  балалар  тәрбеленеді.Осы  бүлдіршіндерге  стандартқа сай  жыл  басында бекітілген  жоспарға  сәйкес  оқу  қызметі  өтсе,  бекітілген  күн  режиміне  сәйкес  ойын, серуен, таңертеңгілік  жаттығу тамақ, ұйқы  жұмыстары  жүргізіледі. Балалар  күнделікті  жүйелі  түрде жүргізіліп отыратын  жұмысқа  қалыптасады. Бұл балалар    ойын балалары, соған  
            қарамастан  оқу  қызметі  барысында  менің  айтқанымды  тәп-тәтті  бал  тілдерімен  қайталады.</p>
        <p>Бұл топтарға үш жастан бастап балалар қабылданады. Осы жаста әрбір  оқу қызметінің құрылымы бойынша бұл босаңсуға, бұлшық етпен психикалық кернеуді жеңілдетуге мүмкіндік беретін физикалық минут. Бағдарлама мазмұнына қарай ойын әрекеті басым, балалар меноқу қызметінде франталды, топшалар бойынша, жеке жүргізіледі.
            Оқу қызметінде педагог балаларға еркін ойын ашық айтуға, берілген тапсырманы орындауға, командамен жұмыс жасауға мүмкіндік береді.
        </p>
    </div>
    <div class="group-container">
        <h6 class="group-container__title">«Балдырған» ересек тобы</h6>
        <p>«Балдырған»  ересек тобында 4  -5 жастағы балалар тәрбиеленеді. Балаларға стандартқа сай жыл басында бекітілген жоспарға сәйкес оқу қызметі   бекітілген күн режиміне сәйкес ойын, серуен , таңертеңгілік жаттығу, тамақ, ұйқы жұмыстары жүргізіледі.
            Оқу қызметінде педагог балаларға еркін ойын ашық айтуға, берілген тапсырманы орындауға, командамен жұмыс жасауға, сөздік қорын молайтуға, сыни ойлауын дамытуға мүмкіндік береді.
       </p>
        <p>Күннің ІІ жартысында дарындылар орталығында тәжірибемен жұмыс жасайды. Бала өзін еркін ұстап, педагогтың нұсқаулығын тыңдап, белсеніп жұмыс жасайды. Балаға қызықты, әрі жауапты іс.</p>
    </div>  
    <div class="group-container">
        <h6 class="group-container__title">«Болашақ»  мектепалды даярлық тобының</h6>
        <p>«Болашақ»  мектеп алды даярлық   тобында  5  және 6  жастағы  балалар  тәрбеленеді.Осы  бүлдіршіндерге  стандартқа сай  жыл  басында бекітілген  жоспарға  сәйкес  оқу  қызметі  өтсе,  бекітілген  күн  режиміне  сәйкес  ойын,серуен, таңертеңгілік  жаттығу,тамақ,ұйқы  жұмыстары  жүргізіледі.Балалар  күнделікті  жүйелі  түрде жүргізіліп отыратын  жұмысқа  қалыптасады. Балаларға АКТ технологиясы, ТРИЗ технологиясы, ойын технологиясы, денсаулық сақтау технологиясы бойынша  оқу қызметтері жүргізіледі.        </p>
        <p>Оқу қызметінде баланың  танымдық қабілеттерін дамыту, ой-өрісін кеңейту, денсаулығын нығайту, коммуникативтілігін, сыни ойлауын, командамен жұмыс жасауға дағдыландыру. </p>
        <p>Күннің ІІ жартысында дарындылар орталығында тәжірибемен жұмыс жасайды. Бала өзін еркін ұстап, педагогтың нұсқаулығын тыңдап, белсеніп жұмыс жасайды. Робототехникамен жұмыс жасап, баланың қабілетін дамытып, білім, білік дағдыларын қалыптастырды. Балаға қызықты, әрі жауапты іс</p>
    </div>

</div>
