<div>
    <h5>Психолог маманның жұмыстары</h5>
     <div class="row">
         <div class="col-md-10 home-container">
           <p class="home-container__title">Мектепке  дейінгі  білім беру ұйымдарында психологиялық түзету-дамыту жұмысты ұйымдастыру
            Педагог-сарапшы,  педагог-психологы Абдікамал  Мөлдір  Жүсіпқызы </p>
            <p class="home-container__subtitle">Психологиялық қызметтің мақсаты: Мектепке дейінгі білім беру ұйымдарында тәрбиеленушілердің психологиялық  денсаулығын сақтау, қолайлы әлеуметтік  психологиялық жағдай жасау, қолдау көрсету. </p>
            <p class="home-container__subtitle">Психологиялық қызмет жұмысының бағыттары:<br>
                -Психодиагностикалық бағыт ;<br>
               -Консультациялық бағыт;<br>
               -Ағартушылық – профилактикалық бағыт;<br>
               -Түзету – дамытушылық бағыт;<br>
               </p>
         </div>
     </div>
      <div>
        <p>
            Өзектілігі:  еліміздің болашағы жас ұрпақ болғандықтан, әр баламен мектепке дейінгі мекеме қабырғасында жұмыс жүргізіп, 
            баланың жеке тұлға  тұлға болып қалыптасуына ықпал ету әр педагог – психологтің міндеті деп білемін.
        </p>
        <p>
            Өзектілігі:Балаларды сауықтыру баланың сенсорлы дамыту жетекші орынға ие. Сенсорлы дамыту сөзінің мағынасы балалардың танымдық (көру, есту, сипап сезу, елестету) психикалық қасиеттерін қалыптастырумен түсіндіріледі. Сенсорлық бөлме балаларды оңалту жұмыстарында, оның моторикасын дамыту және босаңсу жаттығуларын жүргізуге арналған. Қазіргі кезде сенсорлық бөлменің адамға жағымды әсер ететіні дәлелденген және ол дүниежүзінде психолог мамандарының жұмысында пайдаланылады. Осыған орай, біз баланы сенсорлы дамытуға құрастырып жасаған бағдарламаны сенсорлық бөлмеде жүргізу арқылы балалардың дамуында жақсы нәтижелерге қол жеткіздік. Енді сол психокоррекциялық жұмыс түрлерімен басқа маман иелерімен бөліскіміз келеді. 
            Мақсаты: сенсорлық бөлмеде балалармен жүргізетін психокоррекциялық жұмысының маңыздылығын атап өту. 
            
        </p>
        <div class="img-list">
            <a href="../../../assets/py1.jpg" class="highslide" onclick="return hs.expand(this)">
                <img src="../../../assets/py1.jpg" alt="Highslide JS"
                    title="Click to enlarge" height="300" width="300" />
            </a>
            <a href="../../../assets/py2.jpg" class="highslide" onclick="return hs.expand(this)">
                <img src="../../../assets/py2.jpg" alt="Highslide JS"
                    title="Click to enlarge" height="300" width="300" />
            </a>
            <a href="../../../assets/py3.jpg" class="highslide" onclick="return hs.expand(this)">
                <img src="../../../assets/py3.jpg" alt="Highslide JS"
                    title="Click to enlarge" height="300" width="300" />
            </a>
        </div>
        <div class="img-list">
            <a href="../../../assets/py4.jpg" class="highslide" onclick="return hs.expand(this)">
                <img src="../../../assets/py4.jpg" alt="Highslide JS"
                    title="Click to enlarge" height="300" width="300" />
            </a>
            <a href="../../../assets/py5.jpg" class="highslide" onclick="return hs.expand(this)">
                <img src="../../../assets/py5.jpg" alt="Highslide JS"
                    title="Click to enlarge" height="300" width="300" />
            </a>
        </div>
        <p>
            Психотүзету (психокоррекция) және дамыту- түзету, өңдеу мақсатында нормадағы балаларды қарастырады, ауытқуы бар балаларды түзету іс – шараларын қарастырады. Психологиялық түзетудің мақсаты: балаларды жеке тұлғалық дамуындағы психологиялық ауытқуларынан арылту түрлі жағымды іскерлік пен дағдыларды қалыптастыру жалпы оқу дағдысымен
біліктілікті дамыту.

        </p>
         <p>Жетілдіру және психологиялық түзету жұмыстары: Бұл бағыт баланың жеке тұлғалық және даралық қалыптасу процесіне психологтың белсенді әсер етуін білдіреді. Оның міндеті әр баланың жас ерекшелік нормативтерінің сәйкестігін қамтамасыз ететін, балаларды жеке оқытып, тәрбиелеуде, олардың қабілетін, бейімділігін дамытуда педагогикалық ұжымға көмек беретін психологиялық қызмет бағыты болып табылады. Бұл бағытта балалардың мінез-құлқындағы және оқуындағы өзгерістер мен бұзылуларды, дамуындағы ауытқуларды түзету жұмыстары ерекше орын алады.</p>
      </div>
</div>
