<div>
    <h5>Жетістіктер</h5>
    <div class="awards-teachers">
       <h5 class="awards-teachers__title" *ngIf="counter===1 || counter===2">
         Педагогтар жетістігі
       </h5>
       <h5 class="awards-teachers__title" *ngIf="counter===3 || counter===4 || counter===5">
        Бүлдіршіндер жетістігі
      </h5>
       <div *ngIf="counter===1">
           <div class="diploma">
               <p>2021 жылы Қызылорда  облысының білім басқармасының  ұйымдастыруымен  Мектепке  
                   дейінгі  білім  беру   ұйымдарының   арасында  “ҮЗДІК ПЕДАГОГ-ПСИХОЛОГ-2021” облыстық 
                    байқауында ІІІ- дәрежелі  дипломмен  Абдікамал Мөлдір Жүсіпқызы  марапатталды</p>
                    <a href="../../../assets/aw1.jpg" class="highslide" onclick="return hs.expand(this)">
                        <img src="../../../assets/aw1.jpg" alt="Highslide JS"
                            title="Click to enlarge" height="300" width="300" />
                    </a>
           </div>
           <div class="diploma">
               <p>2021 жылы  Елбасы Н.Назарбаевтың “Болашаққа бағдар: рухани жаңғыру” бағдарламалық  мақаласының 
                    “Дәстүр  мен ғұрып” жобасы  аясында және 1 қазан- Дүниежүзілік  Қарттар күні  мерекесіне орай  
                    өткізілген  “Әжелер сөзі- тәрбие көзі” атты  онлайн  қалалық  әжелер  
                   байқауына қатысып  ІІІ- дәрежелі  дипломмен  Серікова Роза  Уалшерқызы   марапатталды </p>
               <a href="../../../assets/aw2.jpg" class="highslide" onclick="return hs.expand(this)">
                <img src="../../../assets/aw2.jpg" alt="Highslide JS"
                    title="Click to enlarge" height="300" width="300" />
            </a>
           </div>
           <div class="diploma">
            <p>2021 жылы Қызылорда  қаласы бойынша  білім  бөлімінің  ұйымдастыруымен  Мектепке  дейінгі  білім  беру   ұйымдарының   арасында  “ҮЗДІК ТӘРБИЕШІ-2021”  
                байқауында І- дәрежелі  дипломмен  Есекеева Камшат  Жаңбырбекқызы марапатталды </p>
                 <a href="../../../assets/aw3.jpg" class="highslide" onclick="return hs.expand(this)">
                     <img src="../../../assets/aw3.jpg" alt="Highslide JS"
                         title="Click to enlarge" height="300" width="300" />
                 </a>
        </div>
       </div>
       <div *ngIf="counter===2">
        <p>Облыстық оқу орталығының ұйымдастыруымен “ОҚУ САҒАТЫ” айдарымен Бейне сабақ  түсірілді  “Күзгі ормандағы саңырауқұлақ” 
            тақырыбында мектепалды даярлық  тобының  тәрбиешісі Алматова Нұргүл Сардарқызы</p>
        <div class="diploma-list">
            <a href="../../../assets/aw5.jpg" class="highslide" onclick="return hs.expand(this)">
                     <img src="../../../assets/aw5.jpg" alt="Highslide JS"
                         title="Click to enlarge" height="250" width="250" />
            </a>
            <a href="../../../assets/aw6.jpg" class="highslide" onclick="return hs.expand(this)">
             <img src="../../../assets/aw6.jpg" alt="Highslide JS"
                 title="Click to enlarge" height="250" width="250" />
             </a>
              <a href="../../../assets/aw7.jpg" class="highslide" onclick="return hs.expand(this)">
                  <img src="../../../assets/aw7.jpg" alt="Highslide JS"
                      title="Click to enlarge" height="250" width="250" />
              </a>
       </div>
      </div>

      <div *ngIf="counter===3">
        <div class="diploma">
            <p>Балабақшамыздың өнерлі бүлдіршіндері “Күнге қонаққа барғанда” славян  ертегісін  мектепке дейінгі  білім  беру ұйымдары арасында  ұйымдастырылған  “Балалар және театр”  атты  қалалық 
                 байқаудан  ІІІ орын ДИПЛОММЕН иеленді. Жетекші: Жолдыбаева  Күлаш  Жеткергенқызы </p>
                 <a href="../../../assets/ch1.jpg" class="highslide" onclick="return hs.expand(this)">
                     <img src="../../../assets/ch1.jpg" alt="Highslide JS"
                         title="Click to enlarge" height="300" width="300" />
                 </a>
        </div>
      </div>

       <div *ngIf="counter===4">
        <p>РУХАНИ ЖАҢҒЫРУ
            “Шебер болар ұрпақпыз” мектепке дейінгі  білім беру  ұйымдары  арасында  өткізілген қалалық  онлайн қол өнер  байқауына  Мектепалды даярлық тобының  тәрбиеленушісі  Талғатұлы Аят қатысып ІІ орын Дипломмен марапатталды  Жетекшісі: Есекеева Камшат Жаңбырбекқызы                     
        </p>
        <div class="diploma-list">
            <a href="../../../assets/ch2.jpg" class="highslide" onclick="return hs.expand(this)">
             <img src="../../../assets/ch2.jpg" alt="Highslide JS"
                 title="Click to enlarge" height="300" width="300" />
         </a>
         <a href="../../../assets/ch3.jpg" class="highslide" onclick="return hs.expand(this)">
                  <img src="../../../assets/ch3.jpg" alt="Highslide JS"
                      title="Click to enlarge" height="300" width="300" />
        </a>
        <a href="../../../assets/ch4.jpg" class="highslide" onclick="return hs.expand(this)">
            <img src="../../../assets/ch4.jpg" alt="Highslide JS"
                title="Click to enlarge" height="300" width="300" />
        </a>
      </div>
    </div>

    <div *ngIf="counter===5">
        <div class="diploma-list">
                 <a href="../../../assets/ch5.jpg" class="highslide" onclick="return hs.expand(this)">
                     <img src="../../../assets/ch5.jpg" alt="Highslide JS"
                         title="Click to enlarge" height="250" width="250" />
                 </a>
            <a href="../../../assets/ch6.jpg" class="highslide" onclick="return hs.expand(this)">
             <img src="../../../assets/ch6.jpg" alt="Highslide JS"
                 title="Click to enlarge" height="250" width="250" />
         </a>
              <a href="../../../assets/ch7.jpg" class="highslide" onclick="return hs.expand(this)">
                  <img src="../../../assets/ch7.jpg" alt="Highslide JS"
                      title="Click to enlarge" height="250" width="250" />
              </a>
       </div>
    </div>
    </div>



    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="pageDec(1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" (click)="pageInc(1)">1</a></li>
          <li class="page-item"><a class="page-link" (click)="pageInc(2)">2</a></li>
          <li class="page-item"><a class="page-link" (click)="pageInc(3)">3</a></li>
          <li class="page-item"><a class="page-link" (click)="pageInc(4)">4</a></li>
          <li class="page-item"><a class="page-link" (click)="pageInc(5)">5</a></li>
          <li class="page-item">
            <a class="page-link" (click)="page()"aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
</div>