<div>
    <h5>Kүн тәртібі</h5>
    <div class="schedule-container">
        <h6 class="schedule-container__title">«Балапан»  мектепалды даярлық тобының  күн  режимі </h6>
        <table class="table table-bordered">
            <thead> 
                <tr>
                    <th>№</th>
                    <th>Режимдік сәттер</th>
                    <th>Уақыты</th>
                </tr>
            </thead> 
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Қабылдау,тексеріп қабылдау,таңертеңгі жаттығу , үстел-үсті ойыны,
дидактикалық ойындар</td>
                    <td>07.00-08.30</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Таңғы асқа дайындық, таңғы ас</td>
                    <td> 08.30-08.50 </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Дербес әрекет,ҰОҚ дайындық</td>
                    <td>08.50-09.15</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>ҰОҚ (үзілістерді қоса алғанда)</td>
                    <td>09.15-09.50</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Таңғы 2 ас</td>
                    <td>09.50-10.05</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Серуенге дайындық</td>
                    <td>10.05-10.20</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Серуен</td>
                    <td>10.20-11.30</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Серуеннен оралу</td>
                    <td>11.30-12.00</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Түскі асқа дайындық, түскі ас</td>
                    <td>12.00-12.30</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td> Гигигена</td>
                    <td>12.30-12.45</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Ұйқыға дайындық,ұйқы.</td>
                    <td>12.45-15.20</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Біртіндеп тұру,ауа, су ем шаралары.</td>
                    <td>15.20-15.40</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Бесін ас</td>
                    <td>15.40-16.00</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Ойындар,дербес әрекет</td>
                    <td>16.00-16.20</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Серуенге дайындық,</td>
                    <td>16.20-16.40</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Серуен</td>
                    <td>16.40-17.40</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Серуеннен оралу</td>
                    <td>17.40-17.50</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Серуеннен оралу,гигиеналық шаралар</td>
                    <td>17.50-18.00</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Кешкі ас</td>
                    <td>18.00-18.30</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Қайтару</td>
                    <td>18.30-19.00</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Серуен</td>
                    <td>19.00-20.00</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Кешкі ас</td>
                    <td>20.00-20.30</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>Тыныш ойындар, гигиеналық күтім</td>
                    <td>20.30-21.00</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>Жатқызу түнгі ұйқы.</td>
                    <td>21.00-07.00</td>
                </tr>
            </tbody>   
        </table>
    </div>

    <div class="schedule-container">
        <h6 class="schedule-container__title">«Еркемай» ортаңғы тобының күн режимі </h6>
        <table class="table table-bordered">
            <thead> 
                <tr>
                    <th>№</th>
                    <th>Күн режимінің міндеттері</th>
                    <th>Уақыты</th>
                </tr>
            </thead> 
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Таңертеңгі ас</td>
                    <td>07.00-08.30</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Таңертеңгі ас</td>
                    <td> 08.30-08.50 </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ойындар, оқу қызметі дайындалу</td>
                    <td>08.50-09.15</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Оқу қызметі (үзілістерді қос алғанда)</td>
                    <td>09.15-09.50</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Таңертеңгі II-ас</td>
                    <td>09.50-10.05</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Серуенге дайындық</td>
                    <td>10.05-10.20</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Серуендеу</td>
                    <td>10.20-11.30</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Серуеннен оралу</td>
                    <td>11.30-11.40</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Гигеналық күтім</td>
                    <td>11.40-12.00</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Түскі ас</td>
                    <td>12.00-12.30</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Гигеналық күтім</td>
                    <td>12.30-12.45</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Түскі ұйқы</td>
                    <td>12.45-15.20</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Біртіндеп тұру, ауа,су ем шаралары</td>
                    <td>15.20-15.40</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Бесін ас</td>
                    <td>15.40-16.00</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Ойындар, өз бетінше жұмыс</td>
                    <td>16.00-16.20</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Серуенге дайындық</td>
                    <td>16.20-16.40</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Серуендеу</td>
                    <td>16.40-17.40</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Серуеннен оралу</td>
                    <td>17.40-18.00</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Кешкі ас</td>
                    <td>18.00-18.30</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Балалардың үйге жіберілуі</td>
                    <td>18.30-19.00</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Серуендеу</td>
                    <td>19.00-20.00</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Кешкі ас</td>
                    <td>20.00-20.30</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>Тыныш ойындар, гигиеналық күтім</td>
                    <td>20.30-21.00</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>Жатқызу түнгі ұйқы.</td>
                    <td>21.00-07.00</td>
                </tr>
            </tbody>   
        </table>
    </div>

    <div class="schedule-container">
        <h6 class="schedule-container__title">«Балдырған» ересек тобының күн режимі </h6>
        <table class="table table-bordered">
            <thead> 
                <tr>
                    <th>№</th>
                    <th>Күн режимінің міндеттері</th>
                    <th>Уақыты</th>
                </tr>
            </thead> 
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Балаларды қабылдау,тексеріп қарау,ойындар, таңғы жаттығу
                        </td>
                    <td>08:00-8:30</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Таңертеңгі ас</td>
                    <td> 08.30-08.45 </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ойындар, оқу қызметі дайындалу</td>
                    <td>08:45-09:15</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Оқу қызметі (үзілістерді қос алғанда)</td>
                    <td>09:15-10:40</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Таңертеңгі II-ас</td>
                    <td>10:40-11:00</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Серуенге дайындық</td>
                    <td>11:00-11:10</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Серуен. Табиғатпен таныстыру, еңбек, ойындар.</td>
                    <td>11:10-11:55</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Серуеннен оралу</td>
                    <td>11:55-12:10</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Гигеналық күтім</td>
                    <td>12:10-12:20</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Түскі ас, Гигиеналық күтім.</td>
                    <td>12:20-12:50<br>
                        12:50-13:00
                    </td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>"Тәтті ұйқы" Түскі ұйқы</td>
                    <td>13:00-15:10</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>«Ұйқымызды ашайық»<br>
                        Ұйқыдан ояну, шынықтыру  шаралары.
                    </td>
                    <td>15:10-15:30</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Бесін ас</td>
                    <td>15:30-16:00</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Ойындар, өз бетінше жұмыс</td>
                    <td>16:00-16:30</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Серуенге дайындық</td>
                    <td>16:30-16:40</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Серуендеу</td>
                    <td>16:40-17:15</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Серуеннен оралу</td>
                    <td>17:15-17:30</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Балаларды үйге жіберу</td>
                    <td>17:30-18:00</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Кешкі ас</td>
                    <td>18:00-18:30</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Серуендеу</td>
                    <td>19:00-20:00</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Кешкі II-ас</td>
                    <td>20:00-20:30</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Тыныш ойындар, гигиеналық күтім</td>
                    <td>20:30-21:00</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>Жатқызу түнгі ұйқы.</td>
                    <td>21.00-07.30</td>
                </tr>
            </tbody>   
        </table>
    </div>

    <div class="schedule-container">
        <h6 class="schedule-container__title">«Болашақ»  мектепалды даярлық                          
            тобының  күн  режимі </h6>
        <table class="table table-bordered">
            <thead> 
                <tr>
                    <th>№</th>
                    <th>Күн режимінің міндеттері</th>
                    <th>Уақыты</th>
                </tr>
            </thead> 
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Қабылдап тексеріп қарау,ойындар, таңертеңгі  жаттығу</td>
                    <td>07:30-08:30</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Таңертеңгі ас</td>
                    <td> 08:30-08:40 </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ойындар, оқу қызметі дайындалу</td>
                    <td>08:40-09:10</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Оқу қызметі (үзілістерді қос алғанда)</td>
                    <td>09:10-11:10</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Таңертеңгі II-ас</td>
                    <td>11:10-11:20</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Серуенге дайындық</td>
                    <td>11:20-11:25</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Серуен.</td>
                    <td>11:25-12:10</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Серуеннен оралу</td>
                    <td>12:10-12:15</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Гигеналық күтім</td>
                    <td>12:15-12:25</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Түскі ас</td>
                    <td> 12:25-12:50</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Гигеналық күтім</td>
                    <td>12:50-13:00</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Түскі ұйқы
                    </td>
                    <td>13:00-15:15</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Біртіндеп тұру, ауа, су,ем шаралары </td>
                    <td>15:15-15:40</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Бесін ас</td>
                    <td>15:40-16.00</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Ойындар, өз бетінше жұмыс</td>
                    <td>16.00-16:20</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Серуенге  дайындық</td>
                    <td>16:20-16:40</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Серуендеу</td>
                    <td>16:40-17:40</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Серуеннен оралу </td>
                    <td>17:40-18:00</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Кешкі ас</td>
                    <td>18:00-18:30</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Балаларды үйге жіберу</td>
                    <td>18:30-19:00</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Серуендеу</td>
                    <td>19:00-20.00</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Кешкі ас</td>
                    <td>20.00-20.30</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>Тыныш ойындар, гигиеналық күтім</td>
                    <td>20.30-21.00</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>Жатқызу түнгі ұйқы.</td>
                    <td>21:00-07.30</td>
                </tr>
            </tbody>   
        </table>
    </div>
</div>
