<div>
    <h5>Басты бет</h5>
     <div class="row">
         <div class="col-md-5 home-container">
           <p class="home-container__title">Қызылорда қаласы білім бөлімінің №2 “Бөбек” санаториялық бөбекжай
            Балабақшасы КММ меңгерушісі Умиралиева Молдир Балгабаевна </p>
            <p class="home-container__subtitle">Бізге қонаққа келгеніңізге өте қуаныштымыз және танысуымыз екі жаққа да жағымды болуы үшін бәрін жасаймыз.</p>
            <p class="home-container__subtitle">Біздің сайттың беттерінде біз сіздерге мүмкіндігінше «“Бөбек”» балабақшасы туралы айтып беруге тырысамыз.</p>
         </div>
        <div class="col-md-5">
            <img src="../../../assets/person1.jpg" width="248px" height="300px">
        </div>
     </div>
      <div>
         <h6>№2 «Бөбек» санаториялық бөбекжай  балабақшасы коммуналдық
            мемлекеттік мекемесінің тарихы құрылымы туралы мәлімет</h6>
        <p>
            Қалалық білім бөліміне қарасты №2 «Бөбек» санаториялық балабақшасының іргетасы 1978 жылы құрылып,1979 жылдан бастап туберкулездік интоксикациясы бар балаларға арналған сауықтыру 
            шипа-жайы санаториялық балабақша болып ашылып, тәулік бойы жұмыс жасайды.
        </p>
        <p>
            Қазіргі таңда «Қызылорда облысының білім басқармасының Қызылорда қаласы бойынша білім бөліміне қарасты №2 «Бөбек»
             санаториялық бөбекжай балабақшасы коммуналдық мемлекеттік  мекемесі Сапарбаев №81 нөмірінде орналасқан. 90 орындық 
             типтік жобада салынған. Балабақшада 4 топ, ән- әуез залы, психолог пен сенсорлық бөлмесі, логопед бөлмесі, дарындылар 
             орталығы және медициналық кабинеттермен жабдықталған. Педагогтар саны 17, меңгеруші, әдіскер, психолог, 
             логопед, ән – әуез жетекшісі және тәрбиешілер қызмет атқарады. Қазақстан Республикасы Білім және ғылым  
             министрінің 2018 жылғы 31 қазандағы №604 бұйрығы. ҚР Әділет министрлігінде 2018 жылғы 1 қарашада №17669 болып тіркелді. 
             Балабақшадағы тәрбие мен оқыту мемлекеттік білім беру стандартына сәйкес 
            “Мектепке дейінгі тәрбие мен оқыту” бағдарламасымен жұмыс жасап келеміз. 
        </p>
        <p>
            Қызылорда облысының білім басқармасы №120-НҚ11 13.06.2021 жыл Қызылорда облыстық денсаулық сақтау басқармасы № 252 бб 22.06.2021 жыл Бірлескен бұйрық бойынша «Бейім тобындағы» балалар «аймақтық дәрігерде әр түрлі диагнозбен «Д» есепте тұратын балалар, яғни анемия, өкпе-тыныс алу жолдарының, жүрек-қан тамыр жүйесінің, асқазан-ішек жолдарының, эндрокриндік жүйенің, аллергиялық және бүйрек-зәр шығару жолдарының аулурарымен есепте тұратын балалар емхананың жолдамасымен қабылданады. Туберкулез таяқшасын бөлінетін науқастардың ошағынан балаларды оқшаулау және қатерлі дертке шалдықтармау мақсатында балаларға үнемі бақыланып, химиопрофилактикалық еммен қамтып, әрдайым білім-тәрбие беріледі.
            Балабақшада  заманауи  әдістемелік  құралдары  бар.
        </p>
         <p>
            Мысалы: Электронды «Қазақ үйі», «Сиқырлы қалам» үш тілдік интерактивті үйрету, «Даналық әліппесі», Интерактивті  тақта, «Жас физик», «Жас биолог» лабораториялық құрылғыларымен жабдықталған.
            Педагог қызметкерлер өздерінің күнделікті өткізетін оқу қызметтерінде «Триз», «АКТ», «Воскобович», «Ойын» технологияларын  пайдаланады. Сонымен қатар «Дьенеш», «Фребель», «Кюизенер» блоктарын пайдаланып қазіргі  заман талабына сай  бүлдіршіндерге жаңартылған түрде оқу қызметтерін өткізеді. Балабақшадағы педагог қызметкерлердің білімін жаңартып, біліктілігін арттыруға, өздерінің жұмыстарын тәжірибе алмасу мақсатында  Республикалық, Қалалық баспаларға шығаруға ұсыныс тастап отырады. Педагог қызметкерлер тәрбиелеп жатқан бүлдіршіндерімен бірге Республикалық, Қалалық балабақшалар арасында өтетін байқауларға қатысып, жүлделі орындарға ие болып жүр.            
         </p>
      </div>
</div>
