<div>
    <h5>Дене шынықтыру бағдарламалары</h5>
    <div class="row">
        <div class="col-md-7">
           <p>
            Мектепке дейінгі жаста баланың денесі тез дамиды. Ол жүйке, тірек-қимыл жүйелерін белсенді дамытады, тыныс алу 
            жүйесін жақсартады. Бұл кезеңде денсаулық пен толық физикалық дамудың негіздері қаланады. Мақсатты дене тәрбиесі
             сәбилердің психикалық дамуына оң әсерін тигізеді: қоршаған заттар мен құбылыстар туралы білімдері толығады, кеңістік 
             пен уақытқа бағдарлануы жақсарады, мінездің жағымды қасиеттері қалыптасады. Дене тәрбиесінің негізгі міндеттері – 
             баланың денсаулығын сақтау және нығайту, баланың денесін шынықтыру, дұрыс дене қалпын, өмірлік маңызды қозғалыс 
             әрекеттерін 
            және мәдени-гигиеналық дағдылар мен дағдыларды қалыптастыру және толыққанды дене дамуына қол жеткізу.
           </p>
        </div>
        <div class="col-md-2">
          <img src="../../../assets/exersize.png" width="300px" height="300px">
        </div>
    </div>
    <div class="row">
        <h6 class="title">ТАҢҒЫ ГИМНАСТИКАЛЫҚ ЖИЫНТЫҚ</h6>
        <table class="table table-bordered">
            <thead> 
                <tr>
                    <th>№</th>
                    <th>Жаттығудың мазмұны</th>
                    <th>Уақыт мөлшері</th>
                    <th>Әдістемелік нұсқау</th>
                </tr>
            </thead> 
            <tbody>
                <tr>
                <td>I</td>
                <td>
                    - Сапқа тұру<br>
                    - Бір қатарда бірінің артынан бірі жүру.<br>
                    - Қолды жоғары көтеріп, аяқтың ұшымен жүру.<br>
                    - Қолды белге қойып, өкшемен жүру.<br>
                    - Қол белде аяқтың іш қырмен жүру.<br>
                    - Аяқты жоғары көтеріп жүру.<br>
                    - Жеңіл жүгіріс.<br>
                    - Тыныс алу жаттығулары.<br>
                    Бір қатардан екі қатар құру<br>
                    </td>
                <td>3-4-мин<br>
                    Залды
                    1-2рет айналу.
                    </td>
                <td>Бір сызықтың бойымен тұрады. 
                    Киімге көңіл аудару.<br>
                    
                    Ара қашықтық ұстау.
                </td>
                </tr>
                <tr>
                    <td>II</td>
                    <td>1) Б.қ: аяқ иық кендігінде, доп қолда.<br>
                        1 допты қос қолмен ұстап иық деңгейінде ұстау<br>
                        2 жоғары көтеру<br>
                        3 иық деңгейіне түсіру<br>
                        4 төмен түсіру<br>
                        2) Б.қ: аяқ иық кендігінде, допты қолға ұстап жоғары көтеру.<br>
                        1 қолды бүгіп допты желкеге тигіу<br>
                        2 допты жоғары көтеру.<br>
                        3) Б.қ: аяқ иық кендігінде, допты иық деңгейінде ұстап тұру.<br>
                        1 допты оң иыққа тигізу<br>
                        2 б.қ. келу<br>
                        3 допты сол иыққа тигізу<br>
                        4 б.қ. кел<br>
                        4) Б.қ: аяқ иық кендігінде, доп қолда.<br>
                        1 допты алға созып отыру<br>
                        2 допты қайра тартып түрегелу<br>
                        5) Б.қ: аяқты қатар қойып, допты қос қолмен кеуде тұсында ұстау.<br>
                        1 бір орында секіру<br>
                        2 оңға айнала секіру<br>
                        3 солға айнала секіру<br>
                        6) Б.қ: аяқ иық кендігінде, доп қолда.<br>
                        1 допты жоғары көтеріп, аяқ ұшына тұрып, дем алу<br>
                        2 допты төмен түсіріп дем шығару.<br>
                        </td>
                    <td>6-7мин<br>
                        7-8рет<br><br><br><br><br><br>  <br><br><br>  <br><br><br>  <br><br><br>       
                        30-рет<br><br><br>  
                        4-рет
                        </td>
                    <td>Допты қос қолға ұстау<br><br><br><br><br><br><br>
                        Қолды шынтақтан бүге орындау<br><br><br><br><br> 
                        Қолды бүкпей орындау.<br><br><br><br>
                        Денені тік ұстау.<br><br><br><br>    <br><br>         
                        Секіргенде допты мықтап ұстау<br><br><br>                
                        Терең тыныс алу
                        </td>
                </tr>
                <tr>
                    <td>III</td>
                    <td>1 . Бір тізбекпен залдан шығу</td>
                    <td>Барлығы 10-12мин
                    </td>
                    <td>Ара қашықтық сақтау</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
