<div class="robotics-container">
    <h5 class="robotics-container__title">Робототехника</h5>
    <div>
        <p>Қазақстан республикасының қазіргі даму кезеңінде балаларды дамыту, тәрбиелеу және оқыту процестерін ұйымдастырудың жаңа тәсілдері мен жаңа тиімді нысандарын тәрбиелеу мен оқыту жүйесінде терең әлеуметтік – экономикалық өзгерістер болып жатыр. Қазіргі заман талабына сай әлеммен  бірге бала қоршаған орта да өзгеруде. Жаһандану заманында технологиялық инновациялар экономика да саясатта да, мәдениетте де, білім беруде және үдірістер қолданылуда. </p>
        <p>Мектепке дейінгі балалардың бірге ойнау дағдыларын, еңбек әрекеті дағдыларын тазалықты, тәртіптілікті, командада жұмыс жасауды, сыни ойлауды, қабылдауды, құрастыруды және басқа дағдыларды меңгерту ойын нысанында іске асыруға тиіс. Ойын – баланың негізгі әрекеті және дамытудың негізгі әрекеті және дамытудың негізгі дамытушы құралы. </p>
        <p>Осы тұрғыда мектепке дейінгі ұйым тәрбиеленушілерінің ойын түрлері арқылы дағдыларын қалыптастыруда «Робототехника» үйірмесінің тиімділігі зор.</p>
        <p>Робототехника – автоматтандырылған техникалық жүйелерді жасаумен айналысатын және өндірісте дамытудың маңызды техникалық негізі болып табылатын қолданбалы ғылым деген мағынаны білдіреді.</p>
        <p>Инновациялық және ақпараттық коммуникациялық технологиялар:</p>
        <ul>
            <li>инновация</li>
            <li>білім беру</li>
            <li>танымдық қабілетін дамыту</li>
            Робототехника жүйксінің құрлымдық тәсілдері
            <li>LEGO құрастырғыштар</li>
            <li>Механикалық қозғалыс</li>
            <li>Алгоритмді қозғалыс</li>
        </ul>
        <p>«Робототехника» үйірмесінің басты мақсаты балалардығ заманауи ғылыми -  техникалық шығармашылыған дамыту.Робототехника- ол бірнеше пәннің  үйлесім табуы. Роботты жасаған кезде алдымен бағдарламасын жазады. Бағдарлама жасау барысында міндетті түрде математика, кеңістікті бағдарлау, түстерді ажырата білу элементтерін пайдаланады. Роботты құрастыру оңай болғанмен, оны бағдарламалауға келгенде қиындықтар болады. Бір роботты құрастыру мен бағдарлама жазып шығуға кететін уақыт мөлшері  күрделілігі бойынша анықталады. Робот құрастырғанда бөлшектерінің мығымдығы мен беріктігі де баланың шыдамдылығын  арттырады. Робот жасау арқылы балалардың ойлау қабілетін дамытады, бағдарлама жасап үйренеді.</p>
        <p> Мақсаты: Робототехника құрал – жабдықтар көмегімен пайдалы дағдылар мен ғылыми – техникалық бағыттағы креативті шығармашылық ойлауды, сонымен қатар стандартты емес шешімдерді табу үшін ынталандыру үшін және тұлғаны қалыптастыру</p>
        <ul>
            Міндеттері:
            <li>Балалардың танымдық қызығушылығын, интелектуалды және шығармашылық қабілетін дамыту;</li>
            <li>Өз бетінше бағдарлама компаненттерін оның мазмұны арқылы өз білімдерін жақсарту.</li>
            <li>Балалардың сыни ойлау дағдыларын арттыру;</li>
            <li>Мәселені таптырлықпен шешу, дағдыларын қалыптастыру</li>
            <li>Балалардың ғылыми логикасын және ғылыми базасын дамыту</li>
        </ul>
        <p>Балалар үйірме жұмыстарының барысында әртүрлі есептерді тапсырмалар орындау үшін роботтардың үлгілерін әзірлейді, олардың техникасын бағдарламалайды және роботтарды құрастырады.</p>
        <p>Бағдарлама жылына – 36 сағат. Аптасына – 1 сағат.</p>
        <p>4-5 жас аралығындағы балаларға 15-20 минут.</p>
        <p>5-6 жас аралығындағы балалар 20-25  минут</p>
        <p>Балалар 2 топта жұмыс жасап, күрделі роботтарды  жинақтайды және тестілеуден өткізеді. Нәтижесінде балалар өз жобаларын жүзеге асыра алады.</p>
        <p>Үйірме жұмысы техникалық өнім –моделін өз бетінше әзірлеу бойынша логикалық ойлауының дамуына бірлік пен дағдының дамуына ықпал етеді.</p>
    </div>
</div>
